In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
pip install pyfpgrowth

Collecting pyfpgrowth
  Downloading https://files.pythonhosted.org/packages/d2/4c/8b7cd90b4118ff0286d6584909b99e1ca5642bdc9072fa5a8dd361c864a0/pyfpgrowth-1.0.tar.gz (1.6MB)
     |████████████████████████████████| 1.6MB 4.9MB/s
Building wheels for collected packages: pyfpgrowth
  Building wheel for pyfpgrowth (setup.py) ... done
  Created wheel for pyfpgrowth: filename=pyfpgrowth-1.0-py2.py3-none-any.whl size=5504 sha256=c8b21803f8f5aea7bcf8cf3214735dc15422442675bd588c295672383e983b4f
  Stored in directory: /root/.cache/pip/wheels/3b/3f/0d/a04bb8b17887c1eca7d0f1a48d4aa0c09c96eb221ff7fa56c1
Successfully built pyfpgrowth
Installing collected packages: pyfpgrowth
Successfully installed pyfpgrowth-1.0

In [ ]:
pip install networkx

Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (2.5.1)
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx) (4.4.2)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mp
import pyfpgrowth as fpgrowth
import networkx

In [ ]:
orders = pd.read_csv(r"/content/drive/My Drive/digikala_dataset/orders.csv")

In [ ]:
orders.head()

   ID_Order  ID_Customer  ...  city_name_fa Quantity_item
0   2714054       469662  ...    محمود آباد           1.0
1  11104039      3063877  ...        خرمدره           1.0
2   4228130      3184893  ...          قرچک           1.0
3  22225624      6888562  ...            قم           1.0
4   4068771      2533490  ...         تهران           1.0

[5 rows x 7 columns]

In [ ]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID_Order               200000 non-null  int64
 1   ID_Customer            200000 non-null  int64
 2   ID_Item                200000 non-null  int64
 3   DateTime_CartFinalize  200000 non-null  object
 4   Amount_Gross_Order     200000 non-null  float64
 5   city_name_fa           200000 non-null  object
 6   Quantity_item          200000 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 10.7+ MB

In [ ]:
transactions = []
gpd_by_customer = orders.groupby(by=['ID_Customer'])
# transactions = [ each['ID_Item'].tolist() for each, this in gpd_by_customer ]

# for this in gpd_by_customer:
#   transactions.append(this['ID_item'].tolist())

gpd_by_customer.filter(lambda x: (transactions.append(x['ID_Item'].to_list())))

        ID_Order  ID_Customer  ...  city_name_fa Quantity_item
1       11104039      3063877  ...        خرمدره           1.0
3       22225624      6888562  ...            قم           1.0
4        4068771      2533490  ...         تهران           1.0
5       11479246      2841640  ...          مشهد           1.0
6        8267421      5235886  ...        اصفهان           1.0
...          ...          ...  ...           ...           ...
199992   7717838      4625961  ...          اراک           5.0
199994   4228418      3720408  ...         تهران           1.0
199995  12172771      4403268  ...         تهران           2.0
199996   4425393      3745774  ...        محمدیه           1.0
199997   6671889      4845514  ...        اصفهان           1.0

[122934 rows x 7 columns]

In [ ]:
pattern = fpgrowth.find_frequent_patterns(transactions, 3)
list(pattern)[:20]

[(369749,),
 (189732,),
 (114994,),
 (175451,),
 (22105,),
 (66491,),
 (43533,),
 (134937,),
 (1150874,),
 (161233,),
 (388826,),
 (295644,),
 (169960,),
 (10373,),
 (199429,),
 (44445,),
 (478445,),
 (51734,),
 (299504,),
 (424039,)]

In [ ]:
rules = fpgrowth.generate_association_rules(pattern, 0.75)
rules

{(12011, 12011): ((90776,), 1.0),
 (12011, 90776): ((), 1.0),
 (31619,): ((294942,), 1.0),
 (388778,): ((104031,), 1.0),
 (875835,): ((294942,), 0.75)}

In [ ]:
for each in rules: print(str(each))

(875835,)
(31619,)
(388778,)
(12011, 12011)
(12011, 90776)